.header__subtitle {
  position: absolute;
  z-index: 2;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  width: 100%;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .header__subtitle {
    font-size: 15px;
    line-height: 22px;
  }
}
